.resume h1 {
  text-align: center !important;
  font-weight: bold !important;
  font-family: 'Noto Serif', serif !important;
}

.resume h2 {
  font-size: x-large !important;
  font-weight: bold !important;
  font-family: 'Noto Serif', serif !important;
}

.resume h3 {
  font-size: large !important;
  font-weight: bold !important;
  font-family: 'Noto Serif', serif !important;
}

.resume {
  padding: 10% !important;
  font-family: 'Noto Serif', serif !important;
}

.resume blockquote {
  text-align: center !important;
  font-style: italic !important;
  font-family: 'Noto Serif', serif !important;
}

@media print {
  #pageheader,
  footer {
    display: none !important;
  }
  .resume.card-body {
    visibility: visible !important;
    padding: unset !important;
  }
  .card, blockquote {
    border: none !important;
  }
}

@page {
  size: A4 portrait;
  margin: 2cm;
}